.card {
    padding: 1rem;
    margin: 2rem;
    justify-content: space-around;
    -webkit-box-shadow: 17px 17px 25px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 17px 17px 25px 1px rgba(0,0,0,0.61);
    box-shadow: 17px 17px 25px 1px rgba(0,0,0,0.61);
}

.boton-diversidad {
    background-color: saddlebrown !important;
    border: none!important;

}

.card-title {
    font-weight: bolder;
    text-align: center;

}

.card-text {
    font-style: italic;

}


