// VARIABLES Y MIXINS
$paddingmargin-general: 2rem;
$border-width: 0.5rem;
$border-width-double: 0.4rem;
$padding-method: 2rem;
$padding-img: 5rem;
$img-width: 40%;
$img-width-mobile: 48%;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.dropdown {
    display: none;
}

main {
    padding: $paddingmargin-general;
    border: $border-width;
    margin: $paddingmargin-general;
}

.preparacion {
    border: $border-width-double;
    padding: $paddingmargin-general;
    border-style: double;
}

.metodo {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: $padding-method;
    margin: $paddingmargin-general;

    div {
        width: 48%;
        padding: $paddingmargin-general;
        @include flex-center;
        flex-direction: column;
    }

    p {
        padding: $padding-img;
    }

    img {
        width: $img-width;
    }
}

.servicio img {
    width: $img-width-mobile;
    padding: $padding-img;
}

.prensa img,
.moka img {
    order: -1;
}

// VISTA TABLET - MOBILE
@media screen and (max-width: 1025px) {
    .metodo {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-evenly !important;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 0.5rem;

        div {
            width: 100% !important;
            height: 50%;
            padding: 0;
            display: block;
        }

        img {
            order: 0 !important;
            padding-bottom: 0.5rem;
            width: $img-width-mobile !important;
        }

        p {
            padding: 0.2rem !important;
            margin: 0;
            width: 100%;
        }
    }
}








